* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    flex: 1;
    height: 15vh;
}

header .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

footer {
    flex: 0 0 auto;
    padding: 1rem;
    background-color: #333;
    height: 15vh;
}

main {
    flex: 1 0 auto;
    display: flex;
    padding: 1rem;
    height: 80vh;
}

.left,
.main__section,
.right {
    flex: 1 0 20%;
    margin: 0.5rem;
}

.main__section {
    height: 87vh;
    flex: 2 0 60%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2.3fr 5fr 1fr;
    grid-template-areas:
        "section__header"
        "section__main"
        "section__footer";
}

.left .info {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #222;
}

.left .status {
    display: flex;
    flex-direction: column;
}

.section__information__1 {
    background: red;
    grid-area: section__header;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    justify-content: space-evenly;
}

.section__information__1 > .carousel__item {
    min-width: 24%;
    background-color: purple;
}

.section__information__container {
    background: #d9ff00;
    grid-area: section__main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "colum__1 colum__2 colum__3";
}

.section__information__2 {
    background: blue;
    grid-area: colum__1;
    display: grid;
    grid-template-rows: 1fr 1.3fr;
    grid-template-areas:
        "carusel__colum__1"
        "table__colum__1";
}

.section__information__2 div:first-child {
    background: #d9ff00;
    grid-area: carusel__colum__1;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    justify-content: space-evenly;
}

.section__information__2 div:first-child > .carousel__item {
    min-width: 48%;
    background-color: purple;
}

.section__information__2 div:last-child {
    background: darkblue;
    grid-area: table__colum__1;
}

.section__image {
    background: orange;
    grid-area: colum__2;
}

.section__information__3 {
    background: violet;
    grid-area: colum__3;
    display: grid;
    grid-template-rows: 1fr 1.3fr;
    grid-template-areas:
        "carusel__colum__2"
        "table__colum__2";
}

.section__information__3 div:first-child {
    background: #d9ff00;
    grid-area: carusel__colum__2;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    justify-content: space-evenly;
}

.section__information__3 div:first-child > .carousel__item {
    min-width: 48%;
    background-color: purple;
}

.section__information__3 div:last-child {
    background: darkblue;
    grid-area: table__colum__2;
}

.right {
    overflow-y: scroll;
}

.right1,
.right2 {
    padding: 10px;
}

.right .right1 .items,
.right .right2 .items {
    display: flex;
    flex-direction: row;
}

.right .info_progres {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right div {
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: #222;
    flex: 1;
}

footer {
    display: flex;
    justify-content: space-between;
}

.botones {
    background-color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 20px;
}

.botones2 {
    display: flex;
    align-items: center;
}

.box {
    background-color: white;
    padding: 25px 25px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 7px;
    color: black;
}

.systems {
    font-size: 20px;
    color: black;
}

.cabin,
.cabin2 {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.views {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__nav {
    padding: 0 10%;
    grid-area: footer__section;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer__nav > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__nav i {
    font-size: 2rem;
}

.footer__nav small {
    margin-top: 5%;
    color: var(--color--two);
}

.footer__nav__1 small {
    color: var(--color--five11);
}

.more {
    display: flex;
    align-items: center;
}

.views div,
.more div {
    margin: 0 0.5rem;
    padding: 0.5rem;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #222;
}
